
/* 
1. GENERAL
2. NAVIGATION
3. SLIDER
4. FOOTER

 
*/
@import url(http://fonts.googleapis.com/css?family=Raleway);

/* ================================= GENERAL =================================== */

body {  
  font-family: 'Raleway', Helvetica, sans-serif;
  font-size: 14px; 
}

 
h2{
  font-size: 20px; 
  text-transform: uppercase;
  margin-bottom: 25px;
}
.container {
  width: 100%;  
}

.no-padding {
  padding:0 !important;
}
.text-center {
  text-align: center !important;
}
/* ================================= NAVIGATION =================================== */
  
.navbar {
    position: relative;
    /*height: 80px;*/
}
.navbar-default {
    background-color: #FFF;
    border-color: #FFF;
}
.navbar-default .navbar-nav>li>a{
  color: #3F3F3F;
  text-transform: uppercase;
  font-weight: 600;
  font-family: 'Raleway';
}
 
.navbar-brand img{ 
  margin-top: -5px; 
  height: 33px;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover {
    color: #000; 

}
.navbar-toggle { 
    background-color: #000;
}
.no-padding {
  padding: 0px !important;
}
.navbar-nav > li > a { 
    line-height: 48px;
}

    /*------------------------------------------------------------------
Header
*/
.header {
  height: auto;
  position: static;
  top: 0;
  left: 0;
  background: #fff;
  width: 100%;
  z-index: 101;
  line-height: 40px; 
  -moz-transform: translateZ(0);
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}
@media only screen and (min-width: 40.063em) {
  .header {
    position: fixed;
    height: 80px;
    padding: 0px 60px !important;
  }
}
.header.row {
  max-width: 100%;
}
.header.style2 .logo {
  text-align: left;
}
@media only screen and (min-width: 64.063em) {
  .header.style1 .logo {
    text-align: center;
  }
}
.header .logo {
  display: table;
  min-height: 1px;
}
.header .logo .logolink {
  display: table-cell;
  vertical-align: middle;
  max-width: 100%;
}
.header .logo .logoimg {
  display: inline-block;
  max-height: 40px;
}
.header .menu-holder {
  text-align: right;
}
.header .menu-holder > a {
  vertical-align: middle;
}
.header .menu-holder > a + a {
  margin-left: 5px;
}
@media only screen and (min-width: 40.063em) {
  .header .menu-holder > a + a {
    margin-left: 15px;
  }
  .header .menu-holder > a + a:after {
    display: block;
  }
}
.header .menu-holder > a + a:after {
  content: '';
  display: none;
  position: absolute;
  width: 1px;
  height: 9px;
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAASCAYAAABxYA+/AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAACVJREFUeNpiLC4uTmMAAiYGKGD8//8/A4oInMFSUlJCd8UAAQYADLQTH7miXlMAAAAASUVORK5CYII=");
  top: 11px;
  left: -10px;
  -moz-background-size: 1px 9px;
  -o-background-size: 1px 9px;
  -webkit-background-size: 1px 9px;
  background-size: 1px 9px;
}
.header .menu-holder #quick_search {
  display: none;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
}
@media only screen and (min-width: 40.063em) {
  .header .menu-holder #quick_search {
    display: inline-block;
  }
}
.header .menu-holder #quick_search #search_icon {
  top: 4px;
  position: relative;
}
.header .menu-holder #quick_cart {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 30px;
  text-align: center;
}
.header .menu-holder #quick_cart #cart_icon {
  position: relative;
  overflow: visible;
}
.header .menu-holder #quick_cart .float_count {
  display: block;
  width: 30px;
  height: 20px;
  position: absolute;
  bottom: 5px;
  left: 0;
  line-height: 24px;
  font-size: 10px;
  font-weight: 600;
  text-align: center;
}
.header .menu-holder #quick_cart:hover, .header .menu-holder #quick_cart:focus {
  color: #151515;
}
@media only screen and (max-width: 40.063em) {
  .header .menu-holder #quick_cart:after {
    display: none;
  }
}


#bar-right {
    right: 0px;
}
#bar-left {
    left: 0px;
}

.bar-side {
    width: 60px;
    bottom: 0px;
    z-index: 40;
    white-space: nowrap;
    text-align: center;
    font-size: 10px;
    text-transform: uppercase;
    top: 0px;
    color: #909090;
    font-weight: 400;
    position: fixed;
    padding: 0px 24px;
    background: none repeat scroll 0% 0% #FFF;
}

.bar-side > div {
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 24px;
  width: 300px;
  height: 12px;
  line-height: 12px;
  margin-top: 150px;
  text-align: center;
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
  -moz-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
}
.bar-side > div.right-side {
  left: auto;
  right: 34px;
  -moz-transform-origin: 100% 100%;
  -ms-transform-origin: 100% 100%;
  -webkit-transform-origin: 100% 100%;
  transform-origin: 100% 100%;
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}
@media only screen and (max-width: 40.063em) {
  .bar-side {
    display: none;
  } 
}
#bar-left {
  left: 0;
}

#bar-right {
  right: 0;
}


/*.navbar-nav > li > a { 
    line-height: 40px;
}*/

/* =================================  =================================== */
#news ul li{
  list-style: outside none none;
  margin-bottom: 30px;
}
#news .media {
    margin-top: 15px;
    margin-left: -40px;
}
#news  h4 {
    font-size: 14px;
    text-transform: uppercase;
}
#news i{
  font-size: 15px;
  padding: 0 2px;
}
#news span{
  font-size: 12px;
  color: #9B9B9B;
  padding-left: 5px;
}
.more-right {
  float: right;
}
#news .media .media-body a{
  color: #000;
  text-decoration: none;
}
#news .media .media-body a:hover{
  color: #2487C5;
  text-decoration: none;
}
#news i{
  color: #2487C5;
}
#news i:hover{
  color: #000;
}
.thumbnail {
    display: block;
    padding: 0px;
    margin-bottom: 5px;
    line-height: 1.42857;
    background-color: #FFF;
    border: none;
    border-radius: none;
    transition: border 0.2s ease-in-out 0s;
} 
 
/*.thumbnail img { 
   -webkit-transition: all 0.8s ease-in-out;
   -moz-transition: all 0.8s ease-in-out;
   -o-transition: all 0.8s ease-in-out;
   -ms-transition: all 0.8s ease-in-out;
   transition: all 0.8s ease-in-out;
}
.thumbnail:hover img {
   -webkit-transform: scale(1.2) rotate(2deg);
   -moz-transform: scale(1.2) rotate(2deg);
   -o-transform: scale(1.2) rotate(2deg);
   -ms-transform: scale(1.2) rotate(2deg);
   transform: scale(1.2) rotate(2deg);
} */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    display: inline;
}

ul.thm, li.thm{
  display: inline;
}

#testimonial {
  left: -50px !important;
}
#testimonial2 {
  left: -50px !important;
}

#latest-news .media{
  background-color: rgb(255, 255, 255);
  padding: 10px; 
  /*box-shadow: 1px 1px 5px rgba(0,0,0,0.1);*/
  margin-top: 0 !important;
}
#latest-news h2{
  font-size:14px;
  margin-bottom: 0;
  margin-top: 0 !important;
}
#latest-news span{
  font-size: 12px;
  color: #b6b6b6;
}
#latest-news .media-body p{
  margin: 5px 0;
  font-size: 12px;
  color: #b6b6b6;
} 
.testimonial-c {
  height: auto;
  /*min-height: 300px; */
  margin-top: -5px; 
}
.bx-wrapper {
   /*min-height: 300px; */
}
.testimonial-c ul li{
  list-style: outside none none;
  margin-bottom: 0px;
}
.testimonial-c .media {
    margin-top: 0px; 
}
.testimonial-c .media .media-body p{
  word-wrap: break-word;

}
.media-body p{
    margin:0 10px 10px 10px;  
}
img.media-object{
  width: 78px;
  height: 76px;
}

#testimonial ul,li{
  list-style: none;
  display: block; 
}
/* ================================= SLIDER =================================== */

/*Revolution Slider (Main)
------------------------------------*/
.tp-bullets.preview4 .bullet {
  border-radius: 10px !important;
}

.tp-banner-container a.btn-u,
.tp-banner-container a.btn-u:hover {
  color: #fff;
  border: solid 1px transparent;
}

.tp-banner-container a.re-btn-brd {
  background: none;
  border: solid 1px #fff;
}

.tp-banner-container a.re-btn-brd:hover {
  color: #555;
  background: #fff; 
}

/*Fullwidth*/
.tp-banner-container .btn-u.btn-brd {
  font-weight: 400;
}

.tp-banner-container {
  position: relative;
}

/*Fullscreen*/
.fullscreen-container {
  width:100%;
  position:relative;
  padding:0;
}

/*Slider Contents v1*/
.revolution-mch-1:after {
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  content: ' ';
  position: absolute;
  background: rgba(0,0,0,0.3);
} 

.revolution-ch1 {
  color: #fff;
  font-size: 50px;
  font-weight: 200;
  line-height: 60px;
  padding: 30px 50px;
  text-align: center;
  border: 1px solid #fff;
  text-transform: uppercase;
  font-family: "Open Sans", sans-serif;
}

.revolution-ch2 {
  color: #fff;
  font-size: 30px;
  max-width: 470px;
  line-height: 32px;
  position: relative;
  text-align: center;
  font-weight: normal;
  text-transform: uppercase;
  font-family: "Open Sans", sans-serif;
}

.revolution-ch2:after {
  left: 50%;
  width: 70px;
  height: 2px;
  content: ' '; 
  bottom: -20px;
  background: #fff;
  margin-left: -35px;
  position: absolute;
}

.revolution-ch3 {
  color: #fff;
  font-size: 50px;
  font-weight: 200;
  line-height: 60px;
  text-align: center;
  text-transform: uppercase;
  font-family: "Open Sans", sans-serif;
}

.revolution-ch4 {
  color: #fff;
  font-size: 18px;
  max-width: 300px;
  line-height: 30px;
  text-align: right;
  position: relative;
  font-weight: normal;
  font-family: "Open Sans", sans-serif;
}

.revolution-ch5 {
  color: #fff;
  font-size: 50px;
  font-weight: 200;
  line-height: 60px;
  text-align: center;
  text-transform: uppercase;
  font-family: "Open Sans", sans-serif;
}


#owl-demo .item{
  margin: 3px;
}
.slider {
  margin-top: 50px;
}
.bx-wrapper .bx-viewport {
    box-shadow: 0px 0px 0px #CCC;
    border: 0px solid #FFF;
    left: 0px;
    background: none repeat scroll 0% 0% #FFF;
 }
.bx-wrapper .bx-pager {
  margin: 35px 0px;
}
.bx-wrapper .bx-pager.bx-default-pager a {
  background: none repeat scroll 0% 0% #fff;
}
.bx-wrapper .bx-pager.bx-default-pager a:hover, .bx-wrapper .bx-pager.bx-default-pager a.active {
    background: none repeat scroll 0% 0% #2487C5;
}
.bx-wrapper .bx-controls-direction a {
    z-index: 1;
}

/* =============== THUMB NEWS ==================== */

#thumb-news .media{
  background-color: rgb(255, 255, 255);
  padding: 10px; 
  box-shadow: 1px 1px 5px rgba(0,0,0,0.1);
  margin-top: 0 !important;
}
#thumb-news h2{
  font-size:14px;
  margin-bottom: 0;
  margin-top: 0 !important;
}
#thumb-news span{
  font-size: 12px;
  color: #b6b6b6;
}
#thumb-news .media-body p{
  margin: 5px 0;
  font-size: 12px;
  color: #b6b6b6;
}
/*================== CONTENT BOX ============================*/
#content-box {
  margin-top: 0px;
}
.panel-default > .panel-heading {
    color: #fff;
    background-color: #2487C5;
    border-color: #DDD;
}
/*================== LATEST NEWS ============================*/
#latest-news {

}

/* =============== MAIN CONTENT ==================== */
#content{ 
    padding: 80px 60px 0px; 
}
@media only screen and (max-width: 40.063em) {
  #content{ 
    padding: 0px 0px 0px; 
  }
}
#content h1 {
    text-align: center; 
    text-transform: uppercase;
    font-size: 45px;
}
#content h1:after{
  border-bottom: solid 2px #000;
}

#content .short-desc {
  padding: 0px 50px;
  text-align: center;
}
#content p {
    font-family: inherit;
    font-weight: normal;
    font-size: 1.5rem;
    line-height: 1.6;
    margin-bottom: 1.25rem;
    text-rendering: optimizelegibility;
}
/*================ Footer ======================= */
footer{
  background-color: #e6e6e6;
  padding: 10px;
  margin-top: 20px;
  color: #b9b9b9;
}
footer hr{
  border-top:solid 1px #b9b9b9;
}
footer a{
  color: #b9b9b9;
}
footer ul li{
  margin: 0 auto; 
  list-style: none;
  display: inline; 
}
footer ul{
  text-align: center;
}
footer img{
  display: inline;
  margin:0 auto;
}
.backtotop {
    background: none repeat scroll 0% 0% #DDD;
    padding: 0px 8px;
    font-size: 45px;
    color: #000;
    border-radius: 3px;
    margin-right: 5px;
    margin-bottom: 15px;
    position: relative;
    z-index: 50;
}

#portfolio {
  margin-top: 30px;
}
/*------------------------------------------------------------------
Portfolio
*/
.thb-portfolio {
  margin: 0;
  overflow: hidden;
}
.thb-portfolio.row {
  margin: 0;
}
.thb-portfolio .carousel.owl {
  margin: 0 !important;
}
.thb-portfolio .columns {
  padding: 0;
}

.post_categories {
  text-transform: uppercase;
  font-size: 14px;
  color: #151515;
  letter-spacing: 0.075em;
}

.post .post-content .filters {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99;
  text-align: center;
  list-style: none;
  margin: 0;
  -moz-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%);
}
.post .post-content .filters.active {
  width: 100%;
  background: rgba(0, 0, 0, 0.9);
}
.post .post-content .filters.active li {
  display: inline-block;
}
@media only screen and (max-width: 40.063em) {
  .post .post-content .filters.active li {
    display: block;
  }
}
@media only screen and (max-width: 40.063em) {
  .post .post-content .filters.active .thb-toggle {
    display: none;
  }
}
.post .post-content .filters .thb-toggle {
  display: block;
  float: left;
  background: rgba(0, 0, 0, 0.2);
  padding: 0 15px;
  cursor: pointer;
  -moz-transform: translateY(100%);
  -ms-transform: translateY(100%);
  -webkit-transform: translateY(100%);
  transform: translateY(100%);
  -moz-transition: "none" 1s;
  -o-transition: "none" 1s;
  -webkit-transition: "none" 1s;
  transition: "none" 1s;
}
.post .post-content .filters .thb-toggle h6 {
  color: #fff;
  font-weight: 600;
  font-size: 12px;
  line-height: 42px;
  text-transform: uppercase;
  margin: 0;
  letter-spacing: -0.05em;
}
.post .post-content .filters .thb-toggle:hover {
  background: #151515;
}
.post .post-content .filters li {
  display: none;
  margin: 0;
  position: relative;
}
.post .post-content .filters li h6 {
  font-weight: 600;
  font-size: 12px;
  line-height: 42px;
  text-transform: uppercase;
  margin: 0;
  letter-spacing: -0.05em;
}
.post .post-content .filters li h6 a {
  color: #9e9e9e;
}
.post .post-content .filters li h6 a:hover {
  color: #1aa97f;
}
.post .post-content .filters li h6 a.active {
  color: #1aa97f;
}
.post .post-content .filters li + li {
  padding-left: 40px;
}
.post .post-content .filters li + li:after {
  display: block;
  content: '';
  width: 1px;
  height: 8px;
  position: absolute;
  top: 17px;
  left: 19px;
  background: rgba(255, 255, 255, 0.2);
}
@media only screen and (max-width: 40.063em) {
  .post .post-content .filters li + li {
    padding-left: 0;
    text-align: center;
  }
  .post .post-content .filters li + li:after {
    display: none;
  }
}

.portfolio-text-style {
  display: block;
  padding: 25px 10px 25px 40px;
  color: #151515;
  position: relative;
  font-size: 30px;
  overflow: hidden;
  font-weight: 600;
  -moz-transition: none 1s;
  -o-transition: none 1s;
  -webkit-transition: none 1s;
  transition: none 1s;
}
@media only screen and (min-width: 40.063em) {
  .portfolio-text-style {
    font-size: 30px;
    display: inline-block;
  }
}
@media only screen and (min-width: 64.063em) {
  .portfolio-text-style {
    font-size: 40px;
  }
}
@media only screen and (min-width: 75em) {
  .portfolio-text-style {
    font-size: 80px;
  }
}
.portfolio-text-style span {
  position: absolute;
  top: 33px;
  left: 27px;
  font-size: 14px;
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
}
.portfolio-text-style figure {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: none;
  margin: -250px 0 0 -250px;
}
.portfolio-text-style figure img {
  width: 100%;
}
.portfolio-text-style:hover figure {
  display: block;
}

.text-style-container {
  width: 100%;
  overflow-x: hidden;
}

.post .post-content .portfolio-text-style-2 {
  display: block;
  width: 100%;
  padding: 20px 25px;
  background: #151515;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  -moz-transition: none 1s;
  -o-transition: none 1s;
  -webkit-transition: none 1s;
  transition: none 1s;
}
.post .post-content .portfolio-text-style-2:hover {
  background: #1aa97f;
  border-color: #1aa97f;
}
.post .post-content .portfolio-text-style-2:hover span {
  color: #fff;
}
@media only screen and (min-width: 64.063em) {
  .post .post-content .portfolio-text-style-2 {
    padding: 35px 50px;
  }
}
@media only screen and (min-width: 75em) {
  .post .post-content .portfolio-text-style-2 {
    padding: 45px 60px;
  }
}
@media only screen and (min-width: 90.063em) {
  .post .post-content .portfolio-text-style-2 {
    padding: 55px 70px;
  }
}
.post .post-content .portfolio-text-style-2 h1 {
  color: #fff;
  font-weight: 600;
  line-height: 1;
  font-size: 30px;
  margin: 0 0 15px;
  letter-spacing: -0.05em;
}
@media only screen and (min-width: 64.063em) {
  .post .post-content .portfolio-text-style-2 h1 {
    font-size: 40px;
  }
}
@media only screen and (min-width: 75em) {
  .post .post-content .portfolio-text-style-2 h1 {
    font-size: 60px;
  }
}
@media only screen and (min-width: 90.063em) {
  .post .post-content .portfolio-text-style-2 h1 {
    font-size: 80px;
  }
}
.post .post-content .portfolio-text-style-2 span {
  color: #a3a3a3;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  margin-left: 1px;
}
@media only screen and (min-width: 64.063em) {
  .post .post-content .portfolio-text-style-2 span {
    margin-left: 2px;
  }
}
@media only screen and (min-width: 75em) {
  .post .post-content .portfolio-text-style-2 span {
    margin-left: 4px;
  }
}
@media only screen and (min-width: 90.063em) {
  .post .post-content .portfolio-text-style-2 span {
    margin-left: 5px;
  }
}

.portfolio_nav a {
  display: block;
  min-height: 200px;
  position: relative;
  width: 100%;
  overflow: hidden;
  background: #313131;
}
.portfolio_nav a img {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -100px 0 0 -300px;
  max-width: none;
}
.portfolio_nav a .overlay {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(26, 169, 127, 0.8);
}
.portfolio_nav a .text {
  position: absolute;
  bottom: 0;
  padding: 30px;
  color: #fff;
}
.portfolio_nav a .text span {
  display: block;
}
.portfolio_nav a .text .dir {
  font-size: 12px;
  font-weight: 400;
}
.portfolio_nav a .text .hr {
  width: 18px;
  height: 1px;
  background: rgba(255, 255, 255, 0.4);
  margin: 10px 0;
}
.portfolio_nav a .text .title {
  font-size: 16px;
  font-weight: 600;
}
.portfolio_nav a.prev div {
  text-align: left;
  left: 0;
}
.portfolio_nav a.next div {
  direction: rtl;
  text-align: right;
  right: 0;
}
.portfolio_nav a.gotoportfolio {
  display: block;
  width: 100%;
  height: 100%;
  background: #292929;
  padding: 120px 30px 30px;
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  text-align: center;
  position: relative;
}
.portfolio_nav a.gotoportfolio:after {
  content: '';
  display: block;
  width: 34px;
  height: 34px;
  background: url("../img/back-to-portfolio.png");
  -moz-background-size: 34px 34px;
  -o-background-size: 34px 34px;
  -webkit-background-size: 34px 34px;
  background-size: 34px 34px;
  position: absolute;
  top: 60px;
  left: 50%;
  margin: 0 0 0 -17px;
  opacity: 0.7;
}

.masonry_btn {
  display: block;
  text-align: center;
  height: 80px;
  line-height: 80px;
  font-size: 14px;
  font-weight: 300;
  color: #868686;
  text-transform: uppercase;
}
.masonry_btn:hover {
  color: #151515;
}


.bg-about {
  height: 600px;
    background-image: url("http://2dtftffb6jiwwmje3bkbqx38.wpengine.netdna-cdn.com/wp-content/uploads/2014/12/aboutus-bg-main.jpg?id=1867") !important;
    background-position: center center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
}

.bg-about h1 {
    top: 20%;
    color: rgb(255, 255, 255); 
    font-size: 70px; 
    text-align: center;
    padding: 200px 200px 10px 200px;
    text-transform: uppercase;
}
.bg-about p {
    color: #FFF;
    font-size: 20px;
    line-height: 32px;
    letter-spacing: 1px;
    text-align: center;
}
@media only screen and (max-width: 40.063em) {
  .bg-about h1 {
    top: 20%;
    color: #FFF;
    font-size: 40px;
    text-align: center;
    padding: 130px 0 10px;
    text-transform: uppercase;
  }
  
  .bg-about p {
    color: #FFF;
    font-size: 15px;
    line-height: 20px;
    letter-spacing: 1px;
    text-align: center;
  }
  #content h1 {
    text-align: center;
    text-transform: uppercase;
    font-size: 30px;
    }
    .bg-about {
    height: 465px;
  }
  .navbar-nav > li > a {
    line-height: 25px;
    }
}
.about-box {
  height: 350px;
}
.right-about{
  height: 350px;
    background-image: url("http://2dtftffb6jiwwmje3bkbqx38.wpengine.netdna-cdn.com/wp-content/uploads/2014/12/aboutus-bg2.jpg?id=1669") !important;
    background-position: center center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
}
.left-about {
  height: 350px;
    background-image: url("http://2dtftffb6jiwwmje3bkbqx38.wpengine.netdna-cdn.com/wp-content/uploads/2014/12/aboutus-bg2.jpg?id=1669") !important;
    background-position: center center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
}
.about-bottom {
   margin-top: 0px; padding: 0px; 
}

 .map {
    width: 100%;
    height: 450px;
    border-top: 1px solid #EEE;
    border-bottom: 1px solid #EEE;
}


/* ----------------------------------------------------------------------
    Posts  
-------------------------------------------------------------------------*/

.post-item {
    border-bottom: 1px solid #eee;
    margin-bottom: 40px;
    padding-bottom: 20px;
    position: relative;
    display: block;
}
.post-item p {
    margin-bottom: 30px;
}
.post-meta {
    margin-bottom: 18px;
}
.post-meta div {
    border-right: 2px solid #f6f6f6;
    float: left;
    margin-right: 18px;
    padding: 8px 18px 8px 0;
}
.post-meta div:last-child {
    float: none;
    border-right: 0;
}

/* blog light background */

.post-content.post-light-background .post-item {
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 1px 2px 1px #eee;
    padding: 20px;
}
.post-content.post-light-background .post-item .post-meta {
    margin: 12px;
}

 
/* blog thumbnail */

.post-modern.post-thumbnail .post-item {
    padding-bottom: 54px;
}
.post-thumbnail .post-image  {
    float: left;
    width: 40%;
}
.post-thumbnail .post-content-details {
    width: 60%;
    padding-left: 20px;
    float: left;
}
.post-thumbnail .post-meta {
    float: right;
    padding-left: 20px;
    width: 60%;
}
.post-modern.post-thumbnail .post-meta {
    float: left;
    padding-left: 10px;
    width: auto;
}
.post-thumbnail .post-read-more {
    margin-top: -14px;
}

/*post image*/

.post-image  {
    margin-bottom: 20px;
}
.post-slider {
    overflow: hidden;
}
.post-slider img {
    max-width: 100%;
}
 
.post-image img {
    height: auto;
    width: 100%;
}
.post-item .post-title h3 {
    margin-bottom: 4px;
    font-size: 26px;
    line-height: 30px;
}
.post-info {
    margin-bottom: 20px;
    opacity: 0.5;
}
.post-4-columns .post-info {
    font-size: 12px;
    line-height: 18px;
}
.post-read-more {
    margin-top: -10px;
    margin-bottom: 10px;
}

/*post columns*/

.post-item {
    float: left;
    position: relative;
    width: 100%;
}
 

.sidebar .widget {
    border-bottom: 1px solid #eee;
    margin-bottom: 30px;
    padding-bottom: 30px;
}

/*tags widget*/

.widget-tags .tags a {
    border: 1px solid rgba(0, 0, 0, 0.2);
    color: #777;
    display: inline-block;
    font-size: 11px;
    font-weight: 400;
    letter-spacing: 1px;
    margin: 0 2px 5px 0;
    padding: 5px 7px;
    text-decoration: none;
    text-transform: uppercase;
    -webkit-transition: all 0.27s cubic-bezier(0, 0, 0.58, 1) 0s;
    transition: all 0.27s cubic-bezier(0, 0, 0.58, 1) 0s;
}

/*Shop widget*/

.widget-shop {
    position: relative;
}
.widget-shop .stars {
    position: relative;
    border-bottom: 1px solid #eee;
    float: left;
    margin-bottom: 12px;
    min-height: 96px;
    padding-bottom: 12px;
}
.widget-shop .stars:last-child {
    border-bottom: 0;
}
.widget-shop .stars .stars-description {
    padding-top: 0px;
}
.widget-shop .stars .stars-image {
    float: left;
    padding-right: 10px; 
}
.widget-shop .stars .stars-description {
    display: table-cell;
    padding-bottom: 0;
    vertical-align: top;
    width: 74%;
}
.widget-shop .stars .stars-title,
.widget-shop .stars .stars-category {
    font-size: 12px;
    margin-bottom: 5px;
    margin-top: -8px;
}
.widget-shop .stars .stars-title h3,
.widget-shop .stars .stars-title h3 a {
    font-size: 15px;
    line-height: 18px;
}
.widget-shop .stars .stars-description .stars-price {
    clear: both;
    float: none;
    margin-bottom: 0;
    margin-top: 0;
    text-align: left;
}
.widget-shop .stars .stars-description .stars-price ins {
    font-size: 14px;
    margin-bottom: 4px;
}
.widget-shop .stars .stars-description .stars-price del {
    display: unset;
    font-size: 12px;
    margin: -8px 5px -8px 0;
}
.widget-tweeter .list-tweets {
    padding-left: 0;
}
.widget-categories .list {
    padding: 0;
}

/* ----------------------------------------------------------------------
  Thumb
-------------------------------------------------------------------------*/

 
.stars {
    margin-bottom: 40px;
    position: relative;
    display: block;
}
.stars .stars-image {
    position: relative;
    width: 100%;
    height: auto;
    overflow: hidden;
}
.stars .stars-image > a,
.stars .stars-image img {
    display: block;
    width: 100%;
    height: 100%;
} 